# Environment variables defined in a calling workflow are not accessible to this reusable workflow. Refer to the documentation for further details on this limitation.
name: templates_CD_Deploy_template
on:
  workflow_call:
    inputs:
      env:
        required: false
        type: string
      condition:
        required: false
        type: string
jobs:
  deploy_application:
    name: Deployt the Application
    runs-on:
      - self-hosted
      - "${{ env.windows_pool }}"
    if: inputs.condition()
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: "./.github/actions/templates_deploy_apps_template"
  smoke_test:
    name: Run Smoke Test
    needs:
    - deploy_application
    runs-on:
      - self-hosted
      - "${{ env.windows_pool }}"
    if: in(needs.deploy_application.result, 'success') && inputs.condition
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - run: write-host "Setup running the Smoke Test"
      shell: powershell
